.btn{
	padding:6px 12px;
	border-radius: 2px;
	font-size: .85rem;
	height:30px;
	text-decoration:none;
	min-width: 120px;
	transition: all .3s;
}

.btn--xs{
	padding:0 5px;
	transition: all .3s;
}

.btn--default{
	color: #788188;
	background-color: #fff;
	border-color: #dbe2e7;
	border-bottom-color: #d5dde3;
	box-shadow: 0 2px 2px #A4A4A4;
}
	.btn--default:hover{
		background-color: #ececec;
	}

.btn--primary{
	color: #fff;
	background-color: #5659C9;
	border-color: #545ca6;
}
	.btn--primary:hover{
		color: #fff;
		background-color: #4A4DB4;;
		border-color: #464d8b;
	}

.btn--transparent{
	color: #fff;
	background-color: trasparent;
	border:1px solid #fff;
	padding:5px 12px;
}
	.btn--transparent:hover{
		color: #fff;
		background-color: #4A4DB4;;
		border-color: #464d8b;
	}


.btn--radius{
	border-radius: 50px;	
}





