.formControl{
	padding: 6px 12px;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	height:30px;
	transition:all .3s;
}
	.formControl:focus {
		border-color:#5659C9;
	}

.formControl--lg{
	height: 40px;
	font-size:.9rem;
	width:600px;
}

